[MASTER]

# Specify errors or warnings to ignore
# R0913: Too many arguments
# E0402: Attempted relative import beyond top-level package (relative-beyond-top-level)
# R0902: Too many instance attributes
# R0903: Too few public methods
# R0904: Too many public methods
# R0801: Similar lines in 2 files
# W0718: Catching too general exception Exception (broad-exception-caught)
# W0122: Use of exec (exec-used)
# C0103: Constant name "pattern" doesn't conform to UPPER_CASE naming style (invalid-name)
# W0246: Useless parent or super() delegation in method '__init__' (useless-parent-delegation)
# W0201: Attribute 'auth_header' defined outside __init__ (attribute-defined-outside-init)
# W0406: Module import itself (import-self)
# R0915: Too many statements (59/50) (too-many-statements)
disable = R0913, E0402, R0902, R0903, R0904, R0801, W0718, W0122, C0103, W0246, W0201, W0406, R0915

# Set the maximum line length to 140 characters
max-line-length=140
